.container, .slide-container{
    width:970px;
    height:250px;
    background:grey;
    position: relative;
}

.container .overlay{
  position: absolute;
  width:100%;
  height:auto;
  z-index:10;
  background:url(../images/foreskin.png) no-repeat 100%;
}
.splide__track{
  width:100%;
  position: absolute;
}

button.prev, button.next {
    display: flex; 
    font-size: 32px;
    align-items: center; 
    justify-content: center;
    color: #FFF; 
    background-color: #333;
    border-radius: 50%;
    width: 44px; 
    height: 44px;
  }
  button.prev {
    position: absolute; left: 0; top: 80px;
  }
  button.next {
    position: absolute; right: 0; top: 80px;
  }