
body {
  color: #333;
  text-align: center;
  background: #111;
  margin: 0;
}

.active{
	box-shadow: 0px 0px 47px -7px rgba(0,0,0,0.72);
}

.container {
	max-width: 970px;
	margin: 0 auto;
	height:250px;
	position: relative;
}

.overlayRight{
	background:url("../images/foreskin-right.png");
	background-size:100%;
	width:590px;
	height:250px;
	position: absolute;
	z-index:9;
	right:0;
	top:0;
	clip-path: polygon(55% 0, 100% 0, 100% 100%, 0% 100%);
}

.draggable{
	width:600px;
	height:250px;
	position: absolute;
	z-index:10;
	left:0;
	clip-path: polygon(16% 0, 100% 0, 64% 100%, 0 100%, 0% 38%);
}


.barBg{
	position: absolute;
	width:60%;
	height:10px;
	background-color: #333;
	bottom:18px;
	left:30px;
}


.items {
	overflow-x:auto;
	position: relative;
	width:100%;
	height:210px;
	overflow:hidden;
	white-space: nowrap;
	font-size: 0;
	cursor: pointer;
	padding:20px 0;
	
	&.active {
		cursor: grab;
	}
}

.item {
	display: inline-block;
	margin-left: 5px;
	user-select: none;
	width: 158px;
	height: 200px;
	line-height: 130px;
	
	&:last-child {
		margin-right: 5px;
		width:450px;
	}
	&.active{
		box-shadow: 0px 0px 47px -7px rgba(0,0,0,0.72);
	}
	img{
		width:100%;
		height:100%;
	}
}

.scale-up-center {
	animation: scale-up-center 0.15s ease-in-out both;
}

@keyframes scale-up-center {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
	}
  }

  input[type=range] {
	position: absolute;
	bottom:0;
	left:10px;
	width:60%;
	height:10px;
	-webkit-appearance: none;
	outline: none;
	z-index:12;
	background: #333;

  }

  input[type=range]:focus{
	outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
	width:60%;
	height:10px;
	background: #333;
	border: none;
	border-radius: 3px;
 }

  input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 40px;
	height: 40px;
	border: 0;
	background:url(../images/draw.png) no-repeat;
	background-size: 100%;
	cursor: pointer;
	margin-top:-15px;
  }

  input[type=range]::-webkit-focus-outer {
    border: 0;
}
