
body {
  color: #333;
  text-align: center;
  background: #111;
  margin: 0;
}

.active{
	box-shadow: 0px 0px 47px -7px rgba(0,0,0,0.72);
}

.container {
	max-width: 970px;
	margin: 0 auto;
	height:250px;
	position: relative;
}
.overlayBg{
	background:url("../images/foreskin.png");
	background-size:100%;
	width:970px;
	height:250px;
	position: absolute;
	z-index:9;
	right:0;
	top:0;
}
.draggable {
	width: 347px;
	height: 220px;
	position: absolute;
	z-index: 10;
	left: 80px;
	top: 0;
	cursor: grab;
	#clickUrl{
		width:502px;
		height:100%;
		position: absolute;
		left:-10px;
		transform: skewX(-54deg);
	}
  }
  
//   .draggable:before {
// 	content: '';
// 	width: 347px;
// 	height: 84px;
// 	position: absolute;
// 	border: none;
// 	left: -426px;
// 	border-right: 6vw solid transparent;
// 	border-top: 10.5vw solid transparent;
// 	// width: 100px;
//     // height: 150px;
//     // position: absolute;
//     // border: none;
//     // background: red;
//     // left: -39px;
//     // top: 0;
//     // transform: skewX(151deg);
//   }
  
  .draggable:before {
	content: '';
	position: absolute;
	width: 347px;
	height: 225px;
	left: 149px;
	top: 0;
	-webkit-transform: skew(-54deg);
	transform: skew(-54deg);
  }


.barBg{
	position: absolute;
	width:60%;
	height:10px;
	background-color: #333;
	bottom:18px;
	left:30px;
}


.items {
	overflow-x:auto;
	position: relative;
	width:100%;
	height:210px;
	overflow:hidden;
	white-space: nowrap;
	font-size: 0;
	cursor: pointer;
	padding:20px 0;
	
	&.active {
		cursor: grab;
	}
}

.item {
	display: inline-block;
	margin-left: 5px;
	user-select: none;
	width: 158px;
	height: 200px;
	line-height: 130px;
	// position: relative;
	
	&:last-child {
		margin-right: 5px;
		width:450px;
	}
	&.active{
		box-shadow: 0px 0px 47px -7px rgba(0,0,0,0.72);
		// z-index:11;
	}
	img{
		width:100%;
		height:100%;
	}
}
.zindex{
	z-index:11;
}

.scale-up-center {
	animation: scale-up-center 0.15s ease-in-out both;
}

@keyframes scale-up-center {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
	}
  }

  input[type=range] {
	position: absolute;
	bottom:0;
	left:10px;
	width:60%;
	height:10px;
	-webkit-appearance: none;
	outline: none;
	z-index:12;
	background: #333;

  }

  input[type=range]:focus{
	outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
	width:60%;
	height:10px;
	background: #333;
	border: none;
	border-radius: 3px;
 }

  input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 40px;
	height: 40px;
	border: 0;
	background:url(../images/draw.png) no-repeat;
	background-size: 100%;
	cursor: pointer;
	margin-top:-15px;
  }

  input[type=range]::-webkit-focus-outer {
    border: 0;
}
