.container{
    width:970px;
    height:250px;
    background:grey;
    position: relative;
}

.container .overlay{
  position: absolute;
  width:100%;
  height:250px;
  z-index:10;
  background:url(../images/foreskin.png) no-repeat 100%;
}

.bems-scroller {
  display: flex;
  height: 250px;
  border-radius: 1em;
  overflow: hidden;
}
.bems-scroller #scrolling-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-x: -moz-scrollbars-none;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.bems-scroller #scrolling-container::-webkit-scrollbar {
  display: none;
}
.bems-scroller li {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  list-style-type: none;
  width: auto;
}

.rangeslider {
  margin: 0 auto;
  padding: 20px 0;
  width: 500px;
}
input[type="range"] {
  background: #1e1e1e;
  border-bottom: 1px solid #4b4b4b;
  border-top: 1px solid #060606;
  height: 10px;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 3px;
}
input[type="range"]:focus {
  outline: none;
}
.rangeslider,
input::-webkit-slider-thumb {
  background: linear-gradient(to bottom, #505050 0%, #545454 5%, #525252 16%, #3d3d3d 95%, #3a3a3a 100%);
  border: 1px solid #1a1a1a;
  cursor: pointer;
  height: 22px;
  text-indent: -9999px;
  width: 90px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.2) inset;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 10px;
}

#featured{
  position: absolute;
  z-index:20;
  left:0;
  top:0;
  width:730px;
  height:250px;
  background-color:red;
  clip-path: polygon(10% 0, 101% 0, 55% 100%, 0 100%, 0 54%);
  cursor: pointer;
}
